

.training-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 50px;
    transition: all ease-out 0.1s;
}

.card-title{
    font-size: 25px;
}

.card-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-count{
    font-size: 15px;
    color:#0006;;
}

.training-card:hover{
    background-color: #d4d4d4;
}

.training-card:hover .word-count{
    display: none;
}

.learn-button-overlay{
    display: none;
    overflow: hidden;

}

.learn-button{
    margin-bottom: -200px;
    transition: all ease-out 0.2s;
}

.training-card:hover .learn-button-overlay{

    display: flex;
}

.training-card:hover .learn-button{
    margin-bottom: 0;
}

.wordTraining-container{
    height: 60vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.wt-inner{
    padding: 30px 25px;
}

.word{
    font-size: 20px;
    font-weight: bold;
}

