@import url("Form.css");
@import url("Media-queries.css");
@import url("LayoutGrid.css");
@import url("ObjectPreview.css");
@import url("GridPage.css");
@import url("IconButton.css");
@import url("Header.css");
@import url("PostPage.css");
@import url("bootstrap/bootstrap.min.css");
:root {
	--inputHeight: 50px;
	--color: #26a69a;
	--space: 10px;
	--height: 500px;
	--header-text: #d8d8d8;
	--textColor: black;
	--backgroundColor: #fff;
	--popUpBackgound: #232323;
	--inputColor: #d4d4d4;
	--inputFocusColor: #0e3c99;
	--inputInvalidColor: red;
	--cellWidth:400px;
}

body {
	margin: 0;
	background-color: var(--backgroundColor);
	font-family: 'RobotoLight', 'Noto', sans-serif;
	overflow-y: scroll!important;
}




.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-menu {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.login-button {
	margin-left: 15px;
}

.right-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu-link {
	text-decoration: unset;
	font-size: 25px;
	color: var(--header-text)
}



.menu-link:hover {
	color: white;
}

.menu-link-active{
	color:white;
}

.page-wrapper {
	margin-top: 80px;
	width: 100%;

}

.content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	width: 90%;
	box-sizing: border-box;
	padding: 15px;

}

.active-login{
	color:white;
}

.nav{
	display: flex;
	flex-direction: row;
	align-items: center
}

.nav > *{
	margin-left: 20px;
}

.nav > *:first-child{
	margin-left: 0;
}

.base-container{
	min-height: 90vh;
	background-color: #faf8f2;
	padding: 20px 50px;
}



