
.login-wrapper{
	display: flex;
	width: 100%;
	min-height: 700px;
	-ms-flex-align: center;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

 .form-wrapper{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	width: 26%;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 35px;
	border: 1px solid #dfe1d2;
	box-shadow: 0px 0px 10px #dfe1d2;
}

.login-wrapper form{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.login-wrapper  form .form-group{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-wrapper .form-control{
	border: none;
	width: 75%;
	height: 40px;
	background-color: var(--inputColor);
	box-shadow: 0px 0px 6px inset;
	font-size: 20px;
	padding-left: 10px;
	box-sizing: border-box;
}
.login-wrapper .form-control:focus{
	outline: none;
	box-shadow:0 0 10px var(--inputFocusColor) inset;
	/*box-shadow:0 0 10px #d3d3d3 inset;*/
}

.login-wrapper .form-control-invalid{
	box-shadow: 0 0 10px var(--inputInvalidColor) inset!important;
}

.login-wrapper .submit-button{
	width: 75%;
	outline: none;
	height: 40px;
	border-radius: 2%;
	background-color: #242424;
	color: var(--header-text);
	font-size: 21px;
	border: 2px solid var(--popUpBackgound);
}

.login-wrapper .submit-button:hover{
	color: white;
	background-color: var(--textColor);
}

.login-wrapper .invalid-feedback{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 20px;
	color:red;
	font-size: 12px;
}

.login-wrapper .menu-link-active{
	color:white!important;
}


