.grid-wrapper{
	display: flex;
	flex-direction: row;
}

.grid-wrapper .LayoutGrid {
	flex-grow: 1;
	padding: 10px 0;
	margin-left: 20%;
}

.left-nav{
	position: fixed;
	background-color: #c0c1b430;
	width: 15%;
	top:80px;
	height: calc(100vh - 80px);
	border-right: 1px solid #d8d8d88a;
	box-sizing: border-box;
	padding-top: 40px;
}

