.sticky-top{
    position: sticky;
    top: 0;
    z-index: 10000;
}

.nav-link{
    box-sizing: border-box;
    user-select: none;
    outline: none!important;
}

.active-nav-link{
    border-bottom: 2px solid #0ee2ff;
}

.active-nav-link a{
    opacity: 1!important;
    color:white!important;
}

.active-nav-link a:focus{
    outline: none!important;
}