@keyframes appear {
	from{
		opacity:0;
		width:25px;
		height: 25px;
	}
	25%{
		opacity: 0.1;
		transform: scale(0.8,0.8);
	}

	35%{
		opacity: 0.1;
		transform: scale(1.2,1.2);
	}

	50%{
		opacity: 0.1;
		transform: scale(1.5,1.5);
	}

	65%{
		opacity: 0.2;
		transform: scale(1.5,1.5);
	}

	80%{
		opacity: 0.2;
		transform: scale(1.5,1.5);
	}

	100%{
		opacity: 0;
		transform: scale(1.5,1.5);
	}

}

.icon-button{
	padding: 0px;
	width: 36px;
	height: 36px;
	position: relative;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;


}

.button-overlay{
	width: 20px;
	height: 20px;
	bottom: 0;
	position: absolute;
	opacity: 0;
	border-radius: 50%;
	background-color: white;
	-webkit-transition: all ease-out 0.2s;
	-o-transition: all ease-out 0.2s;
	transition: all ease-out 0.2s;
	padding: 8px;


}




.button-overlay-animated{
	animation-name:appear;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

.button-overlay-started{
	animation-play-state:running;
}

/*.icon-button:active > .button-overlay{*/
	/*opacity: 0.2;*/
	/*transform: scale(2.5,2.5);*/
	/*-ms-transform: scale(2.5,2.5);*/
	/*-webkit-transform: scale(2.5,2.5);*/
	/*-o-transform: scale(2.5,2.5);*/
	/*-moz-transform: scale(2.5,2.5);*/
	/*transition: all ease-out 0.1s;*/
/*}*/


