@media screen and (max-width: 1600px) {
	.form-wrapper{
		width:32%;
	}
}

@media screen and (max-width: 1460px) {
	.form-wrapper {
		width: 40%;
	}
}

@media screen and (max-width:1260px) {
	.form-wrapper{
		width: 45%;
	}
}

@media screen and (max-width:1200px) {
	.form-wrapper{
		width: 50%;
	}
}

@media screen and (max-width:1000px) {
	.form-wrapper{
		width: 55%;
	}
}

@media screen and (max-width:800px) {
	.form-wrapper{
		width: 70%;
	}

	img.logo-img{
		max-width: 80%;
	}
}

@media screen and (max-width:700px) {
	.form-wrapper{
		width: 80%;
	}

	img.logo-img{
		display: none;
	}
}

@media screen and (max-width:600px) {
	.form-wrapper{
		width: 100%;
	}

	.form-wrapper{
		width: 90%;
	}

	.form-control{
		height: 70px;
	}

	.invalid-feedback{
		height: 40px!important;
	}

	.submit-button{
		height: 70px;
	}


}

