.ObjectPreview {
	height: 200px;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	transition: all ease-out 0.2s;
	cursor: pointer;
}

.ObjectPreview > .object-name {
	position: absolute;
	display: flex;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding-left: 15px;
	align-items: center;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}


.ObjectPreview:hover{
	background-size: 130% auto;
	background-repeat: no-repeat;

}

.ObjectPreview:hover > .hover-placeHolder{
	opacity: 0.6;
	display: block;
	transition: all ease-out 0.2s;
}

.ObjectPreview > .hover-placeHolder{
	position: absolute;
	height: 100%;
	width:100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	bottom: 0;
	transition: all ease-out 0.2s;
}

.category-wrapper{
	padding-top: 20px;
}




