.posts-container{
    min-height: 60vh;
}

.page-header > *{
    text-align: center;
}

.post-row{
    height: 50px;
    line-height: 50px;
}


.post-title{
    font-size: 20px;
}

.post-link{
    opacity: 0.7;
    color: #565dff;
}

.post-link:hover{
    text-decoration: none;
    opacity: 1;
}

.word-item{
    cursor: default;
}

.word-item:focus{
    background-color: rgba(9,122,255,0.4);
}

.word-item:hover{
    background-color: rgba(9,122,255,0.4);
}


.translation-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.translation{
    box-sizing: border-box;
    border-bottom:1px solid #0000004d;
    padding: 5px 10px;
    cursor: default;
}

.translation:hover{
    background-color: rgba(9,122,255,0.4);
}

.popover-content{
    padding: 0!important;
}



